Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: detect-aws-credentials

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint:fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

Fix Missing Error Handling in Critical Async Functions (Issue #1320)
  blueprint.md
  roadmap.md
  src/services/communicationLogService.ts
  src/services/studyPlanMaterialService.ts
  task.md
Due: eslint, typescript-check

Fix Remaining Circular Dependencies After Issue #1303 Fix (Issue #1323, P1)
  blueprint.md
  roadmap.md
  src/config.ts
  src/config/constants.ts
  src/services/api/client.ts
  src/services/api/offline.ts
  src/services/geminiService.ts
  src/services/offlineActionQueueService.ts
  src/services/webSocketService.ts
  task.md
Due: eslint, typescript-check

Fix Circular Dependencies (Issue #1323)
  blueprint.md
  roadmap.md
  src/components/GradingManagement.tsx
  src/components/LearningProgressReport.tsx
  src/config.ts
  src/constants.ts
  src/services/__tests__/geminiService.test.ts
  src/services/__tests__/parentProgressReportService.test.ts
  src/services/api/client.ts
  src/services/communicationLogService.ts
  src/services/geminiService.ts
  src/services/offlineActionQueueService.ts
  src/services/parentProgressReportService.ts
  src/services/performanceMonitor.ts
  src/services/studyPlanMaterialService.ts
  src/services/unifiedNotificationManager.ts
  src/services/webSocketService.ts
  task.md
Due: eslint, typescript-check

[Issue #1286] Add Cleanup Methods to Singleton Services (#1322)
  task.md
Due: none

[SCRIBE] Synchronize GitHub Issues - Close Issue #1320
  blueprint.md
  roadmap.md
  task.md
Due: none

Merge PR #1330: Fix Missing Error Handling in Critical Async Functions
  hasil-seleksi-ppdb-sma-negeri-1-malang-1769903535643.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535615.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535716.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535718.pdf
  src/services/communicationLogService.ts
Due: eslint, typescript-check

[BUILDER] UI Integration: Study Plan Material Recommendations (Follow-up to Issue #1226, P2)
  src/components/StudyPlanGenerator.tsx
Due: eslint, typescript-check

[SCRIBE] Documentation Update: Study Plan Material Recommendations UI Integration (Follow-up to Issue #1226, P2)
  blueprint.md
  roadmap.md
  task.md
Due: none

[SCRIBE] Synchronize Version Numbers Across Documentation (Issue #1327, P3)
  README.md
  blueprint.md
  package.json
  roadmap.md
  task.md
Due: none

Add Voice Commands for Study Plan Management (Issue #1326, P2)
  package-lock.json
  src/constants.ts
  src/services/voiceCommandParser.ts
  task.md
Due: eslint, typescript-check

Update Documentation - Voice Commands for Study Plan Management (Issue #1326, P2)
  blueprint.md
  roadmap.md
Due: none

Update Version to 3.6.3 (Issue #1326, P2)
  blueprint.md
  package.json
  roadmap.md
Due: none

Fix merge conflict marker in task.md
  task.md
Due: none

[SANITIZER] Fix Missing Error Handling in OCR Service (Issues #1333, #1336, P1)
  package-lock.json
  src/services/ocrService.ts
  task.md
Due: eslint, typescript-check

[SCRIBE] Documentation Synchronization - Fix OCR Error Handling (v3.6.4)
  README.md
  blueprint.md
  package.json
  roadmap.md
  task.md
Due: none

[SCRIBE] Synchronize GitHub Issues - OCR Service Error Handling (#1333, #1336)
  blueprint.md
  package-lock.json
  package.json
  roadmap.md
  task.md
Due: none

[SANITIZER] Remove Duplicate DEFAULT_API_BASE_URL Definitions (Issue #1334)
  package-lock.json
  src/components/GradingManagement.tsx
  src/services/api/client.ts
  src/services/geminiService.ts
  src/services/webSocketService.ts
  task.md
Due: eslint, typescript-check

Revert package-lock.json version to 3.6.3 (sync with Issue #1334)
  package-lock.json
Due: none

[SCRIBE] Documentation Synchronization - Remove Duplicate DEFAULT_API_BASE_URL Definitions (Issue #1334)
  blueprint.md
  roadmap.md
  task.md
Due: none

Update task.md - PHASE 4 completion for Issue #1334
  task.md
Due: none

Update task.md - Issue #1334 closed, PR #1339 merged
  task.md
Due: none

[SANITIZER] Refactor Hardcoded Email Service URLs in Worker.js (Issue #1335)
  .env.example
  task.md
  worker.js
  wrangler.toml
Due: eslint

[SCRIBE] Synchronize Documentation for Issue #1335
  blueprint.md
  roadmap.md
  task.md
Due: none

[SANITIZER] Fix Missing Error Handling in API Client validateRequestPermissions (Issue #1337, P2)
  blueprint.md
  roadmap.md
  src/services/api/client.ts
  task.md
Due: eslint, typescript-check

[SANITIZER] Fix Missing Error Handling in API Client validateRequestPermissions (Issue #1337, P2)
  package-lock.json
Due: none

Update package.json version to 3.6.7
  package.json
Due: none

Fix version mismatch between package.json and package-lock.json (3.6.5 → 3.6.7)
  package-lock.json
Due: none

[SANITIZER] Fix Missing Error Handling in API Client validateRequestPermissions (Issue #1337, P2)
  package-lock.json
  package.json
Due: none

[SANITIZER] Fix Failing Custom Analysis Tools (Issue #1340, P2)
  blueprint.md
  roadmap.md
  task.md
Due: none

[SANITIZER] Fix Papa.parse Mock in UserImport Tests (Issue #1345, P2)
  src/components/__tests__/UserImport.test.tsx
Due: eslint, typescript-check

[SANITIZER] Fix Test Suite Timeout by Adding Parallel Execution and Logger Mock (Issue #1346)
  task.md
  test-setup.ts
  vite.config.ts
Due: eslint, typescript-check

[SCRIBE] Update Documentation for Test Suite Performance Optimization (Issue #1346)
  blueprint.md
  roadmap.md
Due: none

[SANITIZER] Mark Issue #1346 Task as Completed in task.md
  task.md
Due: none

[SCRIBE] Move Issue #1346 Task to Completed Section
  task.md
Due: none

[SANITIZER] Fix Failing Test Suites - UserImport & QuizPreview (Issues #1345, #1344)
  blueprint.md
  roadmap.md
  src/components/QuizPreview.tsx
  src/components/UserImport.tsx
  src/components/__tests__/QuizPreview.test.tsx
  src/components/__tests__/UserImport.test.tsx
Due: eslint, typescript-check

[SANITIZER] Fix Failing Test Suites - UserImport & QuizPreview (Issues #1345, #1344)
  task.md
Due: none

[SCRIBE] Synchronize Documentation - Test Suites Fixed (Issues #1345, #1344)
  blueprint.md
  roadmap.md
  task.md
Due: none

[SCRIBE] Synchronize Documentation - Test Suites Fixed (Issues #1345, #1344) (#1347)
  blueprint.md
  roadmap.md
  task.md
Due: none

Documentation Version Sync & Repository Cleanup (Issues #1341, #1343, #1324, #1235)
  .gitignore
  README.md
  blueprint.md
  docs/README.md
  roadmap.md
  task.md
Due: none

[BUILDER] Fix lint errors in payment components
  .env.example
  migration-payment-table.sql
  src/components/PaymentButton.tsx
  src/components/PaymentModal.tsx
  src/config/permissions.ts
  src/constants.ts
  src/services/api/index.ts
  src/services/api/modules/index.ts
  src/services/api/modules/payments.ts
  src/services/apiService.ts
  src/services/paymentService.ts
  task.md
  wrangler.toml
Due: eslint, typescript-check
