Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix: BroCula performance and accessibility optimizations
  index.html
  src/components/ui/DisabledLinkButton.tsx
  src/components/ui/SkipLink.tsx
  src/components/ui/SocialLink.tsx
Due: eslint, typescript-check

docs: update AGENTS.md with ULW-Loop Run #19 results
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-19_Report_RepoKeeper.md
Due: none

docs: update BroCula audit report with Run #19 findings
  BROCULA_AUDIT_REPORT.md
Due: none

feat(ui): add 'Coming Soon' badge to DisabledLinkButton
  src/components/ui/DisabledLinkButton.tsx
Due: eslint, typescript-check

docs: update AGENTS.md and add ULW-Loop Run #20 maintenance report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-20_Report_RepoKeeper.md
Due: none

feat(ui): add escape key hint tooltip to SearchInput component
  src/components/ui/SearchInput.tsx
Due: eslint, typescript-check

feat: integrate useStudentInsights into TeacherDashboard with comprehensive AI analytics
  src/components/TeacherDashboard.tsx
Due: eslint, typescript-check

docs: ULW-Loop Run #20 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-20_Report_RepoKeeper.md
Due: none

docs: update AGENTS.md for ULW-Loop Run #21 and add Run #20 report
  AGENTS.md
Due: none

docs: add ULW-Loop Run #21 BugFixer audit report
  AGENTS.md
  docs/ULW_REPORTS/ULW_RUN_21_BUGFIXER_20260211.md
Due: none

feat(ui): Add keyboard shortcut tooltip to CopyButton component
  src/components/ui/CopyButton.tsx
  src/components/ui/__tests__/CopyButton.test.tsx
Due: eslint, typescript-check

refactor: eliminate hardcoded values - add RETRY_CONFIG with dashboard-specific settings, ANIMATION_DURATIONS for UI animations, and UI_LIMITS for text constraints
  src/components/AdminDashboard.tsx
  src/components/SiteEditor.tsx
  src/components/ui/ErrorMessage.tsx
  src/constants.ts
Due: eslint, typescript-check

docs: ULW-Loop Run #22 - RepoKeeper Maintenance Report
  AGENTS.md
Due: none

docs: Flexy Modularity Audit Report 2026-02-11
  docs/FLEXY_MODULARITY_AUDIT.md
Due: none

docs: ULW-Loop Run #22 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-22_Report_RepoKeeper.md
Due: none

docs: ULW-Loop Run #23 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW_REPORT_20260211_RUN23_BUGFIXER.md
Due: none

docs: ULW-Loop Run #23 - RepoKeeper Maintenance Report
  AGENTS.md
Due: none

docs: ULW-Loop Run #23 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW_RUN_23_BUGFIXER_20260211.md
Due: none

chore(config): update opencode configuration
  .opencode/oh-my-opencode.json
  opencode.json
Due: none

docs: cleanup redundant documentation and audit reports
  .Jules/palette.md
  .opencode/OH_MY_OPENCODE.md
  .opencode/PATCH_README.md
  .opencode/README.md
  .opencode/oh-my-opencode.ts
  .opencode/patch-package.js
  BROCULA_AUDIT_REPORT.md
  GEMINI_SERVICE_REFACTORING.md
  REFACTORING_GUIDE.md
  STUDENT_PORTAL_REFACTORING.md
  UX_IMPROVEMENTS_SUMMARY.md
  blueprint.md
  docs/BROCULA_DIAGNOSTIC_REPORT_20260210.md
  docs/MERGE_CONFLICTS_ANALYSIS.md
  docs/ULW_LOOP_MAINTENANCE_REPORT.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211_RUN12.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211_RUN13.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211_RUN14.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_RUN16_20260211.md
  docs/ULW_REPORTS/ULW-Loop_Run-18_Report_RepoKeeper.md
  docs/ULW_REPORTS/ULW-Loop_Run-19_Report_RepoKeeper.md
  docs/ULW_REPORTS/ULW_RUN_21_BUGFIXER_20260211.md
  playwright-report/index.html
  roadmap.md
  task.md
Due: eslint, typescript-check

chore: cleanup redundant documentation and update opencode config (#1715)
  .Jules/palette.md
  .opencode/OH_MY_OPENCODE.md
  .opencode/PATCH_README.md
  .opencode/README.md
  .opencode/oh-my-opencode.json
  .opencode/oh-my-opencode.ts
  .opencode/patch-package.js
  BROCULA_AUDIT_REPORT.md
  GEMINI_SERVICE_REFACTORING.md
  REFACTORING_GUIDE.md
  STUDENT_PORTAL_REFACTORING.md
  UX_IMPROVEMENTS_SUMMARY.md
  blueprint.md
  docs/BROCULA_DIAGNOSTIC_REPORT_20260210.md
  docs/MERGE_CONFLICTS_ANALYSIS.md
  docs/ULW_LOOP_MAINTENANCE_REPORT.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211_RUN12.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211_RUN13.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_20260211_RUN14.md
  docs/ULW_REPORTS/REPO_MAINTENANCE_REPORT_RUN16_20260211.md
  docs/ULW_REPORTS/ULW-Loop_Run-18_Report_RepoKeeper.md
  docs/ULW_REPORTS/ULW-Loop_Run-19_Report_RepoKeeper.md
  docs/ULW_REPORTS/ULW_RUN_21_BUGFIXER_20260211.md
  opencode.json
  playwright-report/index.html
  roadmap.md
  task.md
Due: eslint, typescript-check

perf: BroCula optimization - Add lazy loading to avatar and preview images
  src/components/MessageList.tsx
  src/components/UserProfileEditor.tsx
  src/components/ui/FileUploader.tsx
Due: eslint, typescript-check

docs: ULW-Loop Run #24 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-24_Report_BugFixer.md
Due: none

docs: ULW-Loop Run #24 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-24_Report_RepoKeeper.md
Due: none

docs: ULW-Loop Run #25 - BugFixer Audit Report
  AGENTS.md
Due: none

docs: BroCula performance audit report - All checks PASSED
  docs/BROCULA_AUDIT_REPORT_20260211.md
Due: none

docs: ULW-Loop Run #26 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-26_Report_RepoKeeper.md
Due: none

docs: ULW-Loop Run #26 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-26_Report_BugFixer.md
Due: none

feat(ui): add haptic feedback and shake animation to DisabledLinkButton
  src/components/ui/DisabledLinkButton.tsx
  src/index.css
Due: eslint, typescript-check

fix(brocula): Update Chromium path and add comprehensive audit report
  docs/BROCULA_AUDIT_20260211.md
  lighthouse-reports/lighthouse-2026-02-11T19-17-49-418Z.json
  scripts/brocula-audit.js
Due: eslint

docs: ULW-Loop Run #27 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-27_Report_RepoKeeper.md
Due: none

docs: ULW-Loop Run #27 - BugFixer Audit Report
  AGENTS.md
Due: none

Fix quizGradeIntegrationService test mocking issue
  src/services/__tests__/quizGradeIntegrationService.test.ts
Due: eslint, typescript-check

perf(brocula): Optimize bundle size and reduce unused JavaScript
  src/App.tsx
  vite.config.ts
Due: eslint, typescript-check

docs(brocula): Add Run #2 audit report with latest Lighthouse results
  docs/BROCULA_AUDIT_20260211_RUN2.md
  lighthouse-reports/lighthouse-2026-02-11T20-04-28-357Z.json
Due: none

docs: ULW-Loop Run #28 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-28_Report_RepoKeeper.md
Due: none

docs: ULW-Loop Run #28 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-28_Report_BugFixer.md
Due: none

docs(bugfixer): Add ULW-Loop Run #28 BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-28_Report_BugFixer.md
Due: none

docs: ULW-Loop Run #29 - RepoKeeper Maintenance Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-29_Report_RepoKeeper.md
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
