Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

refactor: remove dead code (DOMPurify) from vite.config.ts
  vite.config.ts
Due: eslint, typescript-check

fix: sync package-lock.json version to 3.4.3
  package-lock.json
Due: none

fix: add data-testid support to Modal for E2E test compatibility
  src/components/LoginModal.tsx
  src/components/ui/Modal.tsx
Due: eslint, typescript-check

[SCRIBE MODE] Fix documentation inconsistency - remove duplicate WebSocket task entry
  docs/ROADMAP.md
  docs/TASK.md
Due: none

refactor: remove dead code and fix minor issues
  src/App.tsx
  src/components/GradingManagement.tsx
  src/components/LoginModal.tsx
  src/components/UserManagement.tsx
  src/hooks/useForm.ts
  src/services/apiService.ts
  src/services/webSocketService.ts
  src/utils/teacherValidation.ts
Due: eslint, typescript-check

[SCRIBE MODE] Fix documentation inconsistencies and create branch lifecycle policy
  docs/BLUEPRINT.md
  docs/BRANCH_LIFECYCLE.md
  docs/ROADMAP.md
  docs/TASK.md
Due: none

[SCRIBE MODE] Fix documentation inconsistencies in TASK.md (v3.2.5)
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
Due: none

feat: Implement database query optimization (OPTIMIZER MODE)
  docs/BLUEPRINT.md
  docs/DATABASE_OPTIMIZATION_GUIDE.md
  docs/ROADMAP.md
  docs/TASK.md
  migration-2026-01-17-database-optimization.sql
Due: none

feat: Update dependencies to latest stable patch versions (OPTIMIZER MODE)
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
  package-lock.json
  package.json
Due: none

feat: Deploy database optimization migration to production
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
  migration-2026-01-17-database-optimization.sql
Due: none

fix: Update database migration with view fix and documentation
  docs/DATABASE_OPTIMIZATION_GUIDE.md
  migration-2026-01-17-database-optimization.sql
Due: none

feat: Implement error monitoring and alerting system
  docs/BLUEPRINT.md
  docs/TASK.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/Footer.tsx
  src/config/monitoringConfig.ts
  src/services/apiService.ts
  src/services/errorMonitoringService.ts
  src/services/performanceMonitor.ts
  src/utils/healthMetrics.ts
  src/utils/initializeMonitoring.ts
  src/utils/logger.ts
  tsconfig.json
Due: eslint, typescript-check

docs: Consolidate project documentation into single source of truth
  README.md
  docs/README.md
  docs/ROADMAP.md
  docs/archive/BLUEPRINT_ARCHIVE.md
  docs/archive/ROADMAP_ARCHIVE.md
  docs/archive/TASK_ARCHIVE.md
Due: none

docs: Add consolidation summary to ROADMAP.md
  docs/ROADMAP.md
Due: none

docs: initialize Autonomous Engineering Protocol
  blueprint.md
  roadmap.md
  task.md
Due: none

[DOC-003] Synchronize documentation with actual implementation status
  blueprint.md
  roadmap.md
  task.md
Due: none

feat(PPDB-002): Integrate OCR for PPDB document processing
  blueprint.md
  roadmap.md
  src/components/PPDBManagement.tsx
  src/types.ts
  task.md
Due: eslint, typescript-check

SEC-001: Implement critical security hardening (Phase 1)
  blueprint.md
  docs/SECURITY_AUDIT_REPORT.md
  docs/SECURITY_FIXES_SUMMARY.md
  roadmap.md
  task.md
  worker.js
Due: eslint

[SEC-001] Complete security audit and hardening
  blueprint.md
  docs/SECURITY_AUDIT_REPORT.md
  roadmap.md
  src/constants.ts
  src/data/defaults.ts
  src/utils/ai-health-check.ts
  src/utils/aiEditorValidator.ts
  task.md
Due: eslint, typescript-check

[AUTH-001] Complete password reset flow implementation
  blueprint.md
  roadmap.md
  src/App.tsx
  src/components/ForgotPassword.tsx
  src/components/LoginModal.tsx
  src/components/ResetPassword.tsx
  src/services/apiService.ts
  src/services/authService.ts
  task.md
  worker.js
Due: eslint, typescript-check

feat: Enhance PPDB Admin Interface with PDF export, email integration, document preview
  blueprint.md
  roadmap.md
  src/components/PPDBManagement.tsx
  src/components/__tests__/PPDBManagement.test.tsx
  task.md
Due: eslint, typescript-check

feat: Complete PPDB-002 OCR Integration to PPDB Document Uploads
  blueprint.md
  roadmap.md
  src/components/PPDBManagement.tsx
  src/components/PPDBRegistration.tsx
  src/types.ts
  task.md
Due: eslint, typescript-check

docs: reconcile documentation with actual implementation (DOC-004)
  blueprint.md
  roadmap.md
  task.md
Due: none

docs: mark DOC-004 as completed
  task.md
Due: none

feat: User Profile Management System (USER-002)
  blueprint.md
  roadmap.md
  src/components/UserProfileEditor.tsx
  src/components/__tests__/UserProfileEditor.test.tsx
  src/components/icons/CameraIcon.tsx
  src/components/icons/LockIcon.tsx
  src/components/icons/SaveIcon.tsx
  src/services/authService.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

feat: Add bulk user import with CSV support (USER-003)
  blueprint.md
  roadmap.md
  src/components/UserImport.tsx
  src/components/UserManagement.tsx
  src/components/__tests__/UserImport.test.tsx
  src/components/icons/CheckIcon.tsx
  src/components/icons/ExclamationTriangleIcon.tsx
  task.md
Due: eslint, typescript-check

feat: Material Search & Filtering (MAT-002)
  blueprint.md
  roadmap.md
  src/components/MaterialUpload.tsx
  src/components/__tests__/MaterialUpload-search.test.tsx
  task.md
Due: eslint, typescript-check

feat: Implement enhanced material sharing permissions system (MAT-003)
  blueprint.md
  roadmap.md
  src/components/EnhancedMaterialSharing.tsx
  src/components/MaterialUpload.tsx
  src/components/__tests__/EnhancedMaterialSharing.test.tsx
  src/services/__tests__/materialPermissionService.test.ts
  src/services/materialPermissionService.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

Fix documentation inconsistencies (DOC-005)
  blueprint.md
  roadmap.md
  task.md
Due: none

feat: ASG-001 - Assignment Creation UI (final)
  blueprint.md
  roadmap.md
  src/components/AssignmentCreation.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/AssignmentCreation.test.tsx
  src/constants.ts
  src/hooks/useEventNotifications.ts
  src/hooks/useUnifiedNotifications.ts
  src/services/apiService.ts
  src/types.ts
  task.md
  worker.js
Due: eslint, typescript-check

feat: Implement student assignment submissions UI (ASG-002)
  blueprint.md
  roadmap.md
  src/components/StudentAssignments.tsx
  src/components/StudentPortal.tsx
  src/components/__tests__/StudentAssignments.test.tsx
  src/components/icons/AssignmentIcon.tsx
  src/constants.ts
  src/hooks/useEventNotifications.ts
  src/hooks/useUnifiedNotifications.ts
  src/services/apiService.ts
  task.md
  worker.js
Due: eslint, typescript-check

feat(ASG-003): Complete assignment grading workflow
  blueprint.md
  roadmap.md
  src/components/AssignmentGrading.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/AssignmentGrading.test.tsx
  src/components/icons/ClockIcon.tsx
  src/components/icons/XCircleIcon.tsx
  task.md
  worker.js
Due: eslint, typescript-check

feat(ASG-004): Complete Grade Analytics Dashboard
  blueprint.md
  roadmap.md
  src/components/GradeAnalytics.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/GradeAnalytics.test.tsx
  src/components/icons/ChartLineIcon.tsx
  src/constants.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

[AI-001] AI-Powered Quiz Generation System
  blueprint.md
  roadmap.md
  src/components/QuizGenerator.tsx
  src/components/QuizPreview.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/QuizGenerator.test.tsx
  src/components/__tests__/QuizPreview.test.tsx
  src/components/icons/BookOpenIcon.tsx
  src/constants.ts
  src/services/geminiService.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

feat: Implement real-time messaging system (MSG-001)
  blueprint.md
  roadmap.md
  src/components/DirectMessage.tsx
  src/components/MessageInput.tsx
  src/components/MessageList.tsx
  src/components/MessageThread.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/DirectMessage.test.tsx
  src/components/__tests__/MessageInput.test.tsx
  src/components/__tests__/MessageList.test.tsx
  src/components/__tests__/MessageThread.test.tsx
  src/components/icons/ChatBubbleLeftRightIcon.tsx
  src/constants.ts
  src/hooks/useDashboardVoiceCommands.ts
  src/services/apiService.ts
  src/services/webSocketService.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

feat: implement group chat functionality (MSG-002)
  blueprint.md
  roadmap.md
  src/components/DirectMessage.tsx
  src/components/GroupChat.tsx
  src/components/MessageInput.tsx
  src/components/MessageList.tsx
  src/components/MessageThread.tsx
  src/components/StudentPortal.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/GroupChat.test.tsx
  src/hooks/useDashboardVoiceCommands.ts
  task.md
  worker.js
Due: eslint, typescript-check

feat(AI-002): Implement AI-powered assignment feedback system
  blueprint.md
  docs/ROADMAP.md
  src/components/AssignmentGrading.tsx
  src/components/__tests__/AssignmentGrading-ai-feedback.test.tsx
  src/components/__tests__/GroupChat.test.tsx
  src/constants.ts
  src/services/geminiService.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

feat: AI-003 - Study Plan Generation
  blueprint.md
  roadmap.md
  src/components/StudentPortal.tsx
  src/components/StudyPlanGenerator.tsx
  src/components/__tests__/StudyPlanGenerator.test.tsx
  src/constants.ts
  src/services/geminiService.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

feat: Add Study Plan Analytics (AI-004)
  blueprint.md
  roadmap.md
  src/components/StudentPortal.tsx
  src/components/StudyPlanAnalytics.tsx
  src/components/__tests__/StudyPlanAnalytics.test.tsx
  src/constants.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

DOC-006: Remove duplicate task entries and update documentation
  task.md
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
