Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

[BUILDER] Update Documentation - Payment System Phase 1 Progress
  blueprint.md
  roadmap.md
Due: none

[FIX] Restore backward compatibility exports and permission structure
  src/config/permissions.ts
  src/services/api/index.ts
Due: eslint, typescript-check

[BUILDER] Add Online Payment System - Phase 2: Worker Endpoints & Integration
  blueprint.md
  hasil-seleksi-ppdb-sma-negeri-1-malang-1769903535643.pdf
  roadmap.md
  selamat!-diterima-di-sma-negeri-1-malang-1769903535615.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535716.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535718.pdf
  src/components/ParentPaymentsView.tsx
  src/services/api/index.ts
  src/services/permissionService.ts
  task.md
  worker.js
Due: eslint, typescript-check

[SANITIZER] Fix Critical Payment System Security Vulnerabilities (Issue #1353, P0)
  .env.example
  src/config/permissions.ts
  src/services/paymentService.ts
  task.md
  wrangler.toml
Due: eslint, typescript-check

[SCRIBE] Documentation Synchronization - Security Fixes Completed (Issue #1353, P0)
  blueprint.md
  roadmap.md
  task.md
Due: none

[FIX] Resolve critical PR review issues (PR #1354)
  blueprint.md
  src/components/PaymentButton.tsx
  src/services/api/modules/payments.ts
  worker.js
Due: eslint, typescript-check

[SANITIZER] Fix Critical Payment System Security Vulnerabilities (Issue #1353, P0) (#1354)
  .env.example
  blueprint.md
  hasil-seleksi-ppdb-sma-negeri-1-malang-1769903535643.pdf
  migration-payment-table.sql
  roadmap.md
  selamat!-diterima-di-sma-negeri-1-malang-1769903535615.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535716.pdf
  selamat!-diterima-di-sma-negeri-1-malang-1769903535718.pdf
  src/components/ParentPaymentsView.tsx
  src/components/PaymentButton.tsx
  src/components/PaymentModal.tsx
  src/config/permissions.ts
  src/constants.ts
  src/services/api/index.ts
  src/services/api/modules/index.ts
  src/services/api/modules/payments.ts
  src/services/apiService.ts
  src/services/permissionService.ts
  task.md
  worker.js
  wrangler.toml
Due: eslint, typescript-check

[SANITIZER] Fix Date Range Filtering in Communication Log Service (Issue #1355, P2)
  README.md
  blueprint.md
  roadmap.md
  src/services/__tests__/communicationLogService.test.ts
  src/services/communicationLogService.ts
  task.md
Due: eslint, typescript-check

[BUILDER] Complete Online Payment System - Phase 3: Database Migration & Tests (Issue #1349, P1)
  blueprint.md
  roadmap.md
  src/components/__tests__/PaymentButton.test.tsx
  src/components/__tests__/PaymentModal.test.tsx
  src/services/api/modules/__tests__/payments.test.ts
  task.md
Due: eslint, typescript-check

[OPTIMIZER] Verify Test Coverage for Critical Services (2026-02-02)
  blueprint.md
  roadmap.md
  task.md
Due: none

[BUILDER] Complete Online Payment System - Phase 3: Database Migration & Tests (Issue #1349, P1) (#1357)
  blueprint.md
  roadmap.md
  src/components/__tests__/PaymentButton.test.tsx
  src/components/__tests__/PaymentModal.test.tsx
  src/services/api/modules/__tests__/payments.test.ts
  task.md
Due: eslint, typescript-check

[SCRIBE] Fix Critical Version Inconsistency - Multiple Versions Across Documentation (Issue #1358, P0)
  README.md
  blueprint.md
  docs/README.md
  package.json
  roadmap.md
  task.md
Due: none

Update task.md with GitHub issue closure documentation
  task.md
Due: none

[SCRIBE] Close Outdated Issue #1356 - Version Already Synchronized
  blueprint.md
  task.md
Due: none

[BUILDER] Verify and Document Email Service Configuration (Issue #1350, P2)
  .env.example
  blueprint.md
  docs/EMAIL_SERVICE.md
  docs/README.md
  package-lock.json
  package.json
  roadmap.md
  task.md
  worker.js
Due: eslint

[BUILDER] Add Student Quiz Taking Interface - Phase 1 (Issue #1351)
  blueprint.md
  package.json
  roadmap.md
  src/components/StudentPortal.tsx
  src/components/StudentQuiz.tsx
  src/config/permissions.ts
  src/constants.ts
  task.md
Due: eslint, typescript-check

[SCRIBE] Update documentation with commit reference for Issue #1351 Phase 1
  blueprint.md
  roadmap.md
Due: none

[CHORE] Update task.md with commit details and lockfile update
  package-lock.json
  task.md
Due: none

[SCRIBE] Synchronize GitHub Issue #1351 - Student Quiz Taking Interface (P2)
  blueprint.md
  package-lock.json
  task.md
Due: none

[SANITIZER] Fix Missing Error Handling in Multiple Async Functions (Issue #1362, P1)
  blueprint.md
  package.json
  roadmap.md
  src/services/errorMonitoringService.ts
  src/services/unifiedNotificationManager.ts
  src/services/voiceMessageQueue.ts
  src/services/webSocketService.ts
  task.md
Due: eslint, typescript-check

[SCRIBE] Synchronize GitHub Issue #1362 - Missing Error Handling (P1)
  blueprint.md
  roadmap.md
  task.md
Due: none

[SCRIBE] Synchronize GitHub Issue #1362 - Missing Error Handling (P1) (#1366)
  blueprint.md
  roadmap.md
  task.md
Due: none

[SANITIZER] Fix Hardcoded localStorage Key in ParentPaymentsView.tsx (Issue #1361, P2)
  blueprint.md
  roadmap.md
  src/components/ParentPaymentsView.tsx
  task.md
Due: eslint, typescript-check

[SCRIBE] Update documentation with commit reference for Issue #1361
  roadmap.md
  task.md
Due: none

[ARCHITECT] Large File Refactoring Strategy & Foundation (Issue #1364, P2)
  REFACTORING_GUIDE.md
  blueprint.md
  package-lock.json
  package.json
  roadmap.md
  src/services/notifications/voiceNotificationHandler.ts
  task.md
Due: eslint, typescript-check

Phase 2: Complete unifiedNotificationManager.ts Refactoring (Issue #1364, P2)
  blueprint.md
  package.json
  roadmap.md
  src/App.tsx
  src/components/ActivityFeed.tsx
  src/components/AnnouncementManager.tsx
  src/components/AssignmentCreation.tsx
  src/components/ClassManagement.tsx
  src/components/GradingManagement.tsx
  src/components/MaterialUpload.tsx
  src/components/NotificationHistory.tsx
  src/components/UserImport.tsx
  src/components/UserManagement.tsx
  src/components/UserProfileEditor.tsx
  src/components/__tests__/ActivityFeed.notifications.test.tsx
  src/hooks/useUnifiedNotifications.ts
  src/services/__tests__/ppdbIntegrationService.test.ts
  src/services/__tests__/unifiedNotificationManager.test.ts
  src/services/notifications/emailNotificationHandler.ts
  src/services/notifications/notificationAnalyticsHandler.ts
  src/services/notifications/notificationHistoryHandler.ts
  src/services/notifications/notificationTemplatesHandler.ts
  src/services/notifications/pushNotificationHandler.ts
  src/services/notifications/unifiedNotificationManager.ts
  src/services/parentGradeNotificationService.ts
  src/services/ppdbIntegrationService.ts
  src/services/pushNotificationService.ts
  src/services/unifiedNotificationManager.ts
  task.md
Due: eslint, typescript-check

Add PR reference to Phase 2 completion
  task.md
Due: none

Fix issues identified in code review
  src/services/notifications/emailNotificationHandler.ts
  src/services/notifications/notificationHistoryHandler.ts
  src/services/notifications/pushNotificationHandler.ts
  src/services/notifications/unifiedNotificationManager.ts
Due: eslint, typescript-check

[SANITIZER] Partial fixes for ESLint errors in grading components
  src/components/grading/AIPanel.tsx
  src/components/grading/CSVImportPanel.tsx
  src/components/grading/GradeInputRow.tsx
  src/components/grading/GradingActions.tsx
  src/components/grading/GradingManagement.tsx
  src/components/grading/OCRPanel.tsx
  src/components/grading/useGradingData.ts
  src/services/notifications/unifiedNotificationManager.ts
Due: eslint, typescript-check

Fix lint and type errors in grading components
  src/components/grading/CSVImportPanel.tsx
  src/components/grading/GradeInputRow.tsx
  src/components/grading/GradingActions.tsx
  src/components/grading/GradingList.tsx
  src/components/grading/GradingManagement.tsx
Due: eslint, typescript-check

[ARCHITECT] Complete GradingManagement.tsx Refactoring - Phase 3 (Issue #1364, P2)
  package-lock.json
  src/components/GradingManagement.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/GradingManagement.offline.test.tsx
  src/components/grading/AIPanel.tsx
  src/components/grading/CSVImportPanel.tsx
  src/components/grading/GradeInputRow.tsx
  src/components/grading/GradingActions.tsx
  src/components/grading/GradingList.tsx
  src/components/grading/GradingManagement.tsx
  src/components/grading/GradingStats.tsx
  src/components/grading/OCRPanel.tsx
  src/components/grading/useGradingData.ts
Due: eslint, typescript-check

[ARCHITECT] Complete GradingManagement.tsx Refactoring - Phase 3 (Issue #1364, P2) (#1370)
  package-lock.json
  src/components/GradingManagement.tsx
  src/components/TeacherDashboard.tsx
  src/components/__tests__/GradingManagement.offline.test.tsx
  src/components/grading/AIPanel.tsx
  src/components/grading/CSVImportPanel.tsx
  src/components/grading/GradeInputRow.tsx
  src/components/grading/GradingActions.tsx
  src/components/grading/GradingList.tsx
  src/components/grading/GradingManagement.tsx
  src/components/grading/GradingStats.tsx
  src/components/grading/OCRPanel.tsx
  src/components/grading/useGradingData.ts
  src/services/notifications/unifiedNotificationManager.ts
Due: eslint, typescript-check

[ARCHITECT] Phase 3: Complete GradingManagement.tsx Refactoring & Phase 4: Partial ELibrary Refactoring
  blueprint.md
  src/components/elibrary/MaterialActions.tsx
  src/components/elibrary/MaterialBrowser.tsx
  src/components/elibrary/MaterialCard.tsx
  src/components/elibrary/MaterialSearch.tsx
  src/components/elibrary/ReadingProgress.tsx
  src/components/elibrary/useELibraryData.ts
  task.md
Due: eslint, typescript-check

Update task.md with PR #1369 reference
  task.md
Due: none

[ARCHITECT] Complete ELibrary.tsx Refactoring - Phase 4 (Issue #1364, P2)
  src/components/ParentDashboard.tsx
  src/components/StudentPortal.tsx
  src/components/__tests__/ELibrary.accessibility.test.tsx
  src/components/__tests__/ELibrary.keyboard.test.tsx
  src/components/elibrary/MaterialActions.tsx
  src/components/elibrary/MaterialBrowser.tsx
  src/components/elibrary/MaterialCard.tsx
  src/components/elibrary/MaterialSearch.tsx
  src/components/elibrary/ReadingProgress.tsx
  src/components/elibrary/useELibraryData.ts
Due: eslint, typescript-check

[ARCHITECT] Fix ELibrary refactoring - rename and update imports
  src/components/ELibrary.tsx
  task.md
Due: eslint, typescript-check

[ARCHITECT] Add ELibrary.tsx main container
  src/components/ELibrary.tsx
Due: eslint, typescript-check

[SCRIBE] Large File Refactoring - Partial Completion (Issue #1364, P2)
  blueprint.md
  package.json
  roadmap.md
  src/components/ParentDashboard.tsx
  src/components/StudentPortal.tsx
  src/components/__tests__/ELibrary.accessibility.test.tsx
  src/components/__tests__/ELibrary.keyboard.test.tsx
  src/components/elibrary/MaterialActions.tsx
  src/components/elibrary/MaterialBrowser.tsx
  src/components/elibrary/MaterialCard.tsx
  src/components/elibrary/MaterialSearch.tsx
  src/components/elibrary/ReadingProgress.tsx
  src/components/elibrary/useELibraryData.ts
  task.md
Due: eslint, typescript-check

[FIX] Remove duplicate entries in task.md
  task.md
Due: none

[SCRIBE] Fix Documentation Discrepancy - ELibrary.tsx Phase 4 Not Completed
  task.md
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
