Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: detect-aws-credentials

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint:fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

Revise maintenance.md for software engineering agent
  .github/prompt/maintenance.md
Due: none

Update ui-ux.md
  .github/prompt/ui-ux.md
Due: none

Update operational protocol for context ingestion
  .github/prompt/ui-ux.md
Due: none

Update maintenance.md
  .github/prompt/maintenance.md
Due: none

Rename plugin.json to plugin.json
  .opencode/plugin/core/plugin.json
Due: none

Rename plugin.json to plugin.json
  .opencode/plugin/performance/plugin.json
Due: none

Rename plugin.json to plugin.json
  .opencode/plugin/security/plugin.json
Due: none

Rename plugin.json to plugin.json
  .opencode/plugin/testing/plugin.json
Due: none

Delete .opencode/plugin directory
  .opencode/plugin/core/plugin.json
  .opencode/plugin/performance/plugin.json
  .opencode/plugin/security/plugin.json
  .opencode/plugin/testing/plugin.json
Due: none

fix: Resolve import/build issues for production build
  package-lock.json
  package.json
  src/components/AssignmentCreation.tsx
  src/components/EnhancedMaterialSharing.tsx
  src/components/MessageInput.tsx
  src/components/QuizGenerator.tsx
  src/components/QuizPreview.tsx
  src/components/StudyPlanGenerator.tsx
  src/components/TeacherDashboard.tsx
  src/components/UserImport.tsx
  src/components/UserManagement.tsx
Due: eslint, typescript-check

[E2E-001] Implement Playwright E2E testing framework
  blueprint.md
  e2e/ai/ai.spec.ts
  e2e/assignments/assignments.spec.ts
  e2e/auth/auth.spec.ts
  e2e/dashboards/rbac.spec.ts
  e2e/fixtures/README.md
  e2e/messaging/messaging.spec.ts
  e2e/ppdb/ppdb.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  roadmap.md
  task.md
Due: eslint, typescript-check

fix: Handle merge conflicts and npm dependencies in on-pull workflow
  .github/workflows/on-pull.yml
Due: none

fix: Install dependencies and OpenCode tools in on-push workflow
  .github/workflows/on-push.yml
Due: none

docs: Remove duplicate TST-002 entry from task.md (DOC-007)
  task.md
Due: none

[MSG-003] Fix: Remove orphaned object literal
  blueprint.md
  roadmap.md
  src/components/AdminDashboard.tsx
  src/components/AnnouncementManager.tsx
  src/components/icons/EyeIcon.tsx
  src/components/icons/EyeSlashIcon.tsx
  src/components/icons/MegaphoneIcon.tsx
  src/constants.ts
  src/types.ts
  task.md
Due: eslint, typescript-check

[TSK-001] Complete critical security fixes (Phase 2)
  package-lock.json
  task.md
  worker.js
Due: eslint

chore: Update peer dependency flags in package-lock.json
  package-lock.json
Due: none

[OPT-001] Start PR rebase optimization task - 12 PRs require rebasing against latest main
  task.md
Due: none

[OPT-001] Complete PR conflict resolution analysis task
  task.md
Due: none

[OPT-001] Update documentation with PR conflict analysis completion
  blueprint.md
  roadmap.md
Due: none

[OPT-001] Comprehensive analysis of 12 conflicting PRs with resolution strategy
  docs/MERGE_CONFLICTS_ANALYSIS.md
Due: none

[OPT-001] Comprehensive analysis of 12 conflicting PRs with resolution strategy (#1156)
  docs/MERGE_CONFLICTS_ANALYSIS.md
Due: none

fix: resolve undici security vulnerability (GHSA-g9mf-h72j-4rw9)
  package-lock.json
Due: none

fix: resolve undici security vulnerability (GHSA-g9mf-h72j-4rw9) (#1165)
  package-lock.json
Due: none

fix(MSG-004): Add missing PushNotification properties in AnnouncementManager
  blueprint.md
  src/components/AnnouncementManager.tsx
  task.md
Due: eslint, typescript-check

fix(A11Y-001): Fix Button component aria-label behavior for WCAG compliance
  blueprint.md
  roadmap.md
  src/components/ui/Button.tsx
  src/components/ui/__tests__/Button.test.tsx
  task.md
Due: eslint, typescript-check

fix(BUILD-001): Remove unused imports and variables in AssignmentCreation
  package-lock.json
  package.json
  src/components/AnnouncementManager.tsx
  src/components/AssignmentCreation.tsx
Due: eslint, typescript-check

docs(BUILD-001): Update documentation for Phase 1 completion
  blueprint.md
  roadmap.md
  task.md
Due: none

fix(BUILD-001): Phase 2 partial fixes - 60% error reduction from 2000+ to ~25
  blueprint.md
  src/components/DirectMessage.tsx
  src/components/GroupChat.tsx
  src/components/QuizGenerator.tsx
  src/components/icons/BookOpenIcon.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Select.tsx
  src/services/apiService.ts
  src/types.ts
  src/types/email.types.ts
  src/utils/teacherValidation.ts
  task.md
Due: eslint, typescript-check

fix(BUILD-001): Fix MessageInput - use logger instead of alert
  src/components/AssignmentGrading.tsx
  src/components/MessageInput.tsx
  src/components/ui/Badge.tsx
  src/components/ui/FileUploader.tsx
  src/components/ui/LoadingState.tsx
  src/types/email.types.ts
  task.md
Due: eslint, typescript-check

[BUILD-001] Fix TypeScript errors in tests and components
  src/components/StudyPlanAnalytics.tsx
  src/components/StudyPlanGenerator.tsx
  src/components/UserImport.tsx
  src/components/__tests__/AssignmentGrading.test.tsx
Due: eslint, typescript-check

Fix unused imports, alerts, and notification method in PR files
  src/components/StudyPlanAnalytics.tsx
  src/components/StudyPlanGenerator.tsx
  src/components/UserImport.tsx
Due: eslint, typescript-check

Fix type errors in StudyPlanAnalytics and StudyPlanGenerator
  src/components/StudyPlanAnalytics.tsx
  src/components/StudyPlanGenerator.tsx
Due: eslint, typescript-check

[BUILD-001] Fix lint errors in PR files
  src/components/StudyPlanAnalytics.tsx
  src/components/StudyPlanGenerator.tsx
  src/components/UserImport.tsx
Due: eslint, typescript-check

fix(BUILD-001): Phase 2 partial fixes - interface and prop corrections
  src/components/AssignmentCreation.tsx
  src/components/EnhancedMaterialSharing.tsx
  src/components/GroupChat.tsx
  src/components/MaterialSharing.tsx
  src/components/MessageThread.tsx
  src/components/PPDBManagement.tsx
  src/components/QuizGenerator.tsx
  src/components/ResetPassword.tsx
  src/components/StudentAssignments.tsx
Due: eslint, typescript-check

docs(BUILD-001): Update task status - Phase 2 50% complete
  task.md
Due: none

fix: P0 TypeScript errors - ToastType, imports, method names, file properties
  src/components/StudentAssignments.tsx
  src/components/StudyPlanGenerator.tsx
  src/components/Toast.tsx
  src/components/UserImport.tsx
Due: eslint, typescript-check
