Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: detect-aws-credentials

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint:fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

feat(ui): Add toast feedback with undo for destructive actions
  src/App.tsx
  src/components/material-upload/MaterialManagementView.tsx
  src/components/material-upload/MaterialUpload.tsx
Due: eslint, typescript-check

docs: Update workflow documentation with test coverage verification
  docs/blueprint.md
  docs/roadmap.md
  docs/task.md
Due: none

🎨 Palette: Add keyboard shortcuts to OsisEvents form buttons
  src/components/OsisEvents.tsx
Due: eslint, typescript-check

feat(ui): Add keyboard shortcut tooltip to FileUpload delete button
  src/components/FileUpload.tsx
Due: eslint, typescript-check

docs: Add new features and tasks for Q1 2026
  docs/feature.md
  docs/roadmap.md
  docs/task.md
Due: none

docs(bugfixer): ULW-Loop Run #80 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-80_Report_BugFixer.md
Due: none

docs: Add new features and tasks for Q1 2026 (#2036)
  docs/feature.md
  docs/roadmap.md
  docs/task.md
Due: none

chore(docs): Archive redundant audit reports to archive/ directories
  docs/BROCULA_REPORTS/archive/BROCULA_AUDIT_REPORT_20260213.md
  docs/README.md
  docs/ULW_REPORTS/archive/FLEXY_MODULARITY_AUDIT_RUN58.md
  docs/ULW_REPORTS/archive/FLEXY_MODULARITY_REPORT_RUN71.md
  docs/ULW_REPORTS/archive/FLEXY_MODULARITY_VERIFICATION_REPORT_20260212.md
  docs/ULW_REPORTS/archive/FLEXY_VERIFICATION_REPORT_20260213.md
  docs/ULW_REPORTS/archive/FLEXY_VERIFICATION_REPORT_RUN71.md
  docs/ULW_REPORTS/archive/FLEXY_VERIFICATION_REPORT_RUN74.md
  docs/ULW_REPORTS/archive/FLEXY_VERIFICATION_REPORT_RUN76.md
  docs/ULW_REPORTS/archive/FLEXY_VERIFICATION_REPORT_RUN78.md
  docs/ULW_REPORTS/archive/FLEXY_VERIFICATION_RUN_20260213.md
Due: none

docs: Update AGENTS.md with RepoKeeper Run #80 status
  AGENTS.md
Due: none

feat(ux): Add keyboard shortcuts and accessibility to EnhancedMaterialSharing
  src/components/EnhancedMaterialSharing.tsx
Due: eslint, typescript-check

docs(palette): Add journal entry for EnhancedMaterialSharing UX improvements
  .Jules/palette.md
Due: none

docs(flexy): Flexy Modularity Verification Report - Run #81
  docs/FLEXY_VERIFICATION_REPORT_RUN81.md
Due: none

feat(ui): Add keyboard shortcut to aria-label in UserManagement refresh button
  src/components/UserManagement.tsx
Due: eslint, typescript-check

feat(ui): Implement Bulk Operations Manager (T005)
  docs/task.md
  src/components/ui/DataTable.tsx
  src/constants.ts
Due: eslint, typescript-check

fix(brocula): Browser console & Lighthouse optimization - Run #81
  src/components/material-upload/MaterialManagementView.tsx
  src/config/viteConstants.ts
  vite.config.ts
Due: eslint, typescript-check

feat(a11y): Add accessibility attributes to retry buttons
  .Jules/palette.md
  src/components/AttendanceView.tsx
  src/components/ClassManagement.tsx
  src/components/MicrophonePermissionHandler.tsx
  src/components/QuizGenerator.tsx
  src/components/Shared/StudentTimeline.tsx
  src/components/StudentAssignments.tsx
  src/components/student-portal/StudentPortal.tsx
Due: eslint, typescript-check

docs(flexy): ULW-Loop Run #81 - Flexy Modularity Verification Report
  AGENTS.md
Due: none

feat(ui): Add keyboard shortcut support to ErrorMessage retry button
  src/components/ui/ErrorMessage.tsx
Due: eslint, typescript-check

docs(bugfixer): ULW-Loop Run #82 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-82_Report_BugFixer.md
Due: none

feat(audit): Implement Audit Logging (T004)
  docs/task.md
  eslint.config.js
  src/components/ui/AuditLogViewer.tsx
  src/constants.ts
  src/services/api/index.ts
  src/services/api/modules/audit.ts
  src/services/api/modules/index.ts
  src/services/auditService.ts
Due: eslint, typescript-check

♿ Palette: Add aria-pressed to MessageList filter buttons
  .Jules/palette.md
  src/components/MessageList.tsx
Due: eslint, typescript-check

docs(bugfixer): ULW-Loop Run #81 - BugFixer Audit Report
  AGENTS.md
  docs/ULW_REPORTS/ULW-Loop_Run-81_Report_BugFixer.md
Due: none

feat(ui): Improve FolderNavigation loading state with proper skeleton
  src/components/FolderNavigation.tsx
Due: eslint, typescript-check

perf(brocula): Optimize CSS and JavaScript loading
  src/index.css
  vite.config.ts
Due: eslint, typescript-check

docs(flexy): Flexy Modularity Verification Report - Run #82
  AGENTS.md
  docs/FLEXY_VERIFICATION_REPORT_RUN82.md
Due: none

feat(audit): Complete T004 - Add backend audit logging API
  docs/roadmap.md
  docs/task.md
  worker.js
Due: eslint

docs(repokeeper): Align documentation versions with package.json - Run #81
  README.md
  package.json
Due: none

fix(audit): Add missing useEffect dependencies in AuditLogViewer
  src/components/ui/AuditLogViewer.tsx
Due: eslint, typescript-check
