Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: detect-aws-credentials

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint:fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

fix: update ESLint config for React 19 JSX transform
  eslint.config.js
  src/components/GradingManagement.tsx
Due: eslint, typescript-check

docs: update security audit metrics and document wrangler vulnerability
  docs/README.md
Due: none

fix: resolve circular dependency and security vulnerabilities
  package-lock.json
  package.json
  src/components/GradingManagement.tsx
  src/config.ts
  src/config/api.ts
  src/services/apiService.ts
  src/services/geminiService.ts
  src/services/webSocketService.ts
Due: eslint, typescript-check

fix: resolve circular dependencies and package.json issues
  package.json
  src/services/apiService.ts
  src/services/offlineActionQueueService.ts
  src/services/webSocketService.ts
  src/types.ts
  src/utils/apiHelper.ts
  src/utils/authUtils.ts
Due: eslint, typescript-check

feat(backend): Implement WebSocket backend support for real-time updates
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
  worker.js
Due: eslint

fix: update webSocketService tests for new authUtils imports
  src/services/__tests__/webSocketService.test.ts
Due: eslint, typescript-check

chore: update @google/genai from 1.35.0 to 1.36.0
  package-lock.json
Due: none

Complete bundle size optimization task (P2) - update documentation
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
Due: none

refactor: move test files to __tests__ directories for consistency
  src/components/__tests__/SiteEditor.validation.test.tsx
  src/services/__tests__/authService.test.ts
Due: eslint, typescript-check

docs: update creation dates from 2025 to 2026 for consistency
  docs/BLUEPRINT.md
  docs/CODING_STANDARDS.md
  docs/CONTRIBUTING.md
  docs/EMAIL_SERVICE.md
  docs/FEATURES.md
  docs/ROADMAP.md
Due: none

feat: Implement database query optimization (Phase 6)
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
  schema.sql
  worker.js
Due: eslint

chore: update package-lock.json after dependency installation
  package-lock.json
Due: none

docs: update documentation metrics and remove outdated security info
  docs/README.md
Due: none

fix: move type packages from dependencies to devDependencies
  package-lock.json
  package.json
Due: none

refactor: remove dead code and unused variables
  .env.example
  src/components/AdminDashboard.tsx
  src/components/GradingManagement.tsx
  src/components/MaterialUpload.tsx
  src/components/ui/LoadingOverlay.tsx
  src/hooks/useForm.ts
  src/hooks/useSemanticSearch.ts
  src/hooks/useVoiceNotifications.ts
  src/services/emailService.ts
  src/services/speechSynthesisService.ts
Due: eslint, typescript-check

docs: fix section numbering and content ordering in DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
Due: none

fix: update validation script to check worker.js /seed endpoint instead of non-existent seeder-worker.js
  scripts/validate-config.js
Due: eslint

fix: implement schedule fetching and update .env.example
  .env.example
  src/components/ParentDashboard.tsx
  src/components/StudentPortal.tsx
Due: eslint, typescript-check

chore: sync package.json with package-lock.json for @google/genai 1.36.0
  package-lock.json
  package.json
Due: none

fix: use STORAGE_KEYS constants for localStorage operations
  src/components/SiteEditor.tsx
  src/components/__tests__/TeacherDashboard.offline.test.tsx
  src/services/__tests__/ocrNotificationIntegration.test.ts
Due: eslint, typescript-check

feat(sanitizer): sanitize hardcoded values and create project documentation
  .env.example
  blueprint.md
  roadmap.md
  src/components/GradingManagement.tsx
  src/config/api.ts
  src/constants.ts
  src/data/defaults.ts
  src/services/webSocketService.ts
  src/utils/ai-health-check.ts
  src/utils/aiEditorValidator.ts
  task.md
Due: eslint, typescript-check

fix: remove vite.config.ts from tsconfig.test.json include array
  tsconfig.test.json
Due: none

refactor: remove dead code and standardize icon usage
  src/__tests__/pushNotifications.integration.test.ts
  src/components/CalendarView.tsx
  src/components/ScheduleView.tsx
  src/components/VoiceNotificationDemo.tsx
  src/components/WebSocketStatus.tsx
  src/components/__tests__/CalendarView.test.tsx
  src/components/icons/DocumentArrowDownIcon.tsx
  src/components/icons/ExclamationTriangleIcon.tsx
  src/components/icons/ListBulletIcon.tsx
  src/components/icons/WifiIcon.tsx
  src/components/ui/PDFExportButton.tsx
  src/services/pushNotificationService.ts
Due: eslint, typescript-check

feat: Implement Performance Monitoring System (PERF-001)
  blueprint.md
  roadmap.md
  src/components/PerformanceDashboard.tsx
  src/constants.ts
  src/hooks/__tests__/usePerformanceMonitor.test.ts
  src/hooks/usePerformanceMonitor.ts
  src/services/__tests__/performanceMonitor.test.ts
  src/services/performanceMonitor.ts
  src/types/performance.types.ts
  task.md
Due: eslint, typescript-check

fix: resolve TypeScript type errors in performance monitor
  eslint.config.js
  src/services/performanceMonitor.ts
  src/types/performance.types.ts
Due: eslint, typescript-check

fix: standardize theme color across PWA manifest and index.html
  index.html
Due: none

fix: consolidate duplicate React imports for consistency
  src/components/AcademicGrades.tsx
  src/components/AccessDenied.tsx
  src/components/AttendanceView.tsx
  src/components/BatchManagement.tsx
  src/components/FolderNavigation.tsx
  src/components/GradingManagement.tsx
  src/components/NotificationSettings.tsx
  src/components/PPDBManagement.tsx
  src/components/ParentPaymentsView.tsx
  src/components/StudentLearningModule.tsx
  src/components/StudentPortal.tsx
  src/components/SystemStats.tsx
  src/components/ThemeSelector.tsx
  src/components/Toast.tsx
  src/components/VersionControl.tsx
  src/components/VoiceSettings.tsx
  src/hooks/useFieldValidation.ts
  src/hooks/useForm.ts
Due: eslint, typescript-check

chore: update wrangler from 4.59.1 to 4.59.2
  package-lock.json
  package.json
Due: none

docs: update documentation metrics and version to 3.2.1
  docs/README.md
  package.json
Due: none

DOCS: Add SearchInput, GradientButton, SmallActionButton documentation
  docs/TASK.md
  docs/UI_COMPONENTS.md
Due: none

docs: Add UI component documentation for Input, Select, and Toast (Part 2)
  docs/ROADMAP.md
  docs/TASK.md
  docs/UI_COMPONENTS.md
Due: none

docs: Update task list with next UI component documentation batch
  docs/TASK.md
Due: none

chore: update documentation metrics and dependency version
  docs/ROADMAP.md
  docs/TASK.md
  package-lock.json
  package.json
Due: none

refactor: remove unnecessary React imports and use named imports
  src/App.tsx
  src/components/VoiceCommandsHelp.tsx
  src/components/admin/PermissionManager.tsx
  src/components/icons/DocumentArrowDownIcon.tsx
  src/components/icons/ExclamationTriangleIcon.tsx
  src/components/icons/ListBulletIcon.tsx
  src/components/icons/WifiIcon.tsx
  src/components/ui/Button.tsx
  src/components/ui/Heading.tsx
  src/components/ui/Toggle.tsx
  src/contexts/NotificationContext.tsx
  src/index.tsx
Due: eslint, typescript-check

Implement WCAG 2.1 AA accessibility enhancements
  blueprint.md
  docs/ACCESSIBILITY.md
  package-lock.json
  package.json
  roadmap.md
  src/components/__tests__/accessibility.audit.test.tsx
  src/config/accessibility.ts
  src/hooks/useAccessibility.ts
  task.md
Due: eslint, typescript-check

Complete accessibility documentation subtask
  task.md
Due: none

Fix role type definitions and remove any type usage
  src/constants.ts
  src/types.ts
  src/utils/__tests__/aiEditorValidator.test.ts
Due: eslint, typescript-check

feat: complete UX-001 enhanced accessibility with WCAG 2.1 AA compliance
  blueprint.md
  docs/ACCESSIBILITY_AUDIT_REPORT.md
  roadmap.md
  task.md
Due: none

docs: clarify TODO comment for parent notifications
  src/components/GradingManagement.tsx
Due: eslint, typescript-check

chore: remove unnecessary React imports from test files
  src/components/__tests__/ConflictResolutionModal.test.tsx
  src/components/__tests__/DocumentationPage.test.tsx
  src/components/__tests__/Header.test.tsx
  src/components/__tests__/ThemeSelector.test.tsx
Due: eslint, typescript-check
