Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

[ENHANCEMENT] Integrate Email Service with Notification System
  README.md
  blueprint.md
  roadmap.md
  src/services/__tests__/emailNotificationService.test.ts
  src/services/emailNotificationService.ts
  src/services/emailTemplates.ts
  src/services/unifiedNotificationManager.ts
  task.md
Due: eslint, typescript-check

test(optimizer): Add comprehensive test coverage for errorMonitoringService (v3.4.2)
  src/services/__tests__/errorMonitoringService.test.ts
Due: eslint, typescript-check

docs(optimizer): Update documentation for errorMonitoringService test coverage (v3.4.2)
  blueprint.md
  roadmap.md
Due: none

fix(tests): GradeAnalytics test selector ambiguity (Issue #1267)
  blueprint.md
  roadmap.md
  src/components/__tests__/GradeAnalytics.test.tsx
  task.md
Due: eslint, typescript-check

fix(docs): Address review comments on blueprint.md and task.md formatting
  blueprint.md
  task.md
Due: none

fix: Replace hardcoded localStorage keys with STORAGE_KEYS constants in emailNotificationService (Issue #1269, P1)
  blueprint.md
  roadmap.md
  src/constants.ts
  src/services/emailNotificationService.ts
  task.md
Due: eslint, typescript-check

fix(tests): GradeAnalytics test selector ambiguity (Issue #1267) (#1271)
  blueprint.md
  roadmap.md
  src/components/__tests__/GradeAnalytics.test.tsx
  task.md
Due: eslint, typescript-check

fix: Remove Math.random() mock data from StudyPlanAnalytics (Issue #1270, P1)
  src/components/StudyPlanAnalytics.tsx
  src/components/__tests__/StudyPlanAnalytics.test.tsx
Due: eslint, typescript-check

docs: Update documentation for P1 bug fixes (Issues #1269, #1270)
  blueprint.md
  roadmap.md
  task.md
Due: none

fix: Fix Custom Analysis Tools Package Configuration Error (Issue #1274)
  .opencode/OH_MY_OPENCODE.md
  .opencode/PATCH_README.md
  .opencode/patch-package.js
  blueprint.md
  roadmap.md
  task.md
Due: eslint

feat: Integrate Activity Feed with Notification System (Issue #1232)
  blueprint.md
  roadmap.md
  src/components/ActivityFeed.tsx
  src/components/__tests__/ActivityFeed.notifications.test.tsx
  src/constants.ts
  task.md
Due: eslint, typescript-check

test(optimizer): Add comprehensive test coverage for pdfExportService (31 tests, 100% pass rate)
  blueprint.md
  roadmap.md
  src/services/__tests__/pdfExportService.test.ts
  task.md
Due: eslint, typescript-check

docs(optimizer): Update documentation with PR reference (#1275)
  blueprint.md
  roadmap.md
  task.md
Due: none

feat: Integrate AI Class Performance Analysis into GradeAnalytics (Issue #1231)
  blueprint.md
  roadmap.md
  src/components/GradeAnalytics.tsx
  src/constants.ts
  task.md
Due: eslint, typescript-check

docs: Update task.md with PR link for AI Class Performance Analysis
  task.md
Due: none

docs: Complete PHASE 4 for Issue #1231 - PR #1281 ready for merge
  blueprint.md
  roadmap.md
  task.md
Due: none

fix: Address review feedback for AI Class Performance Analysis PR
  package-lock.json
  package.json
  src/components/GradeAnalytics.tsx
  src/types.ts
  task.md
Due: eslint, typescript-check

feat: Integrate AI Class Performance Analysis into GradeAnalytics (Issue #1231) (#1281)
  package-lock.json
  package.json
  src/components/GradeAnalytics.tsx
  src/types.ts
  task.md
Due: eslint, typescript-check

fix(sanitizer): Add afterEach hook to restore real timers in test files (Issue #1279)
  src/utils/__tests__/errorRecovery.test.ts
  src/utils/__tests__/retry.test.ts
  task.md
Due: eslint, typescript-check

fix(custom-analysis-tools): Reduce false positives in check-missing-error-handling and check-storage-keys
  .opencode/tool/check-missing-error-handling.ts
  .opencode/tool/check-storage-keys.ts
  blueprint.md
  roadmap.md
  task.md
Due: eslint, typescript-check

Refactor custom analysis tools based on PR review feedback
  .opencode/tool/check-missing-error-handling.ts
  .opencode/tool/check-storage-keys.ts
  blueprint.md
Due: eslint, typescript-check

fix(custom-analysis-tools): Reduce false positives in check-missing-error-handling and check-storage-keys (#1280)
  .opencode/tool/check-missing-error-handling.ts
  .opencode/tool/check-storage-keys.ts
  blueprint.md
  roadmap.md
  task.md
Due: eslint, typescript-check

[SANITIZER] Fix Bug Issues #1277, #1276, #1278, #1279 - P2
  blueprint.md
  hasil-seleksi-ppdb-sma-negeri-1-malang-1769847502941.pdf
  roadmap.md
  src/services/__tests__/attendanceOCRService.test.ts
  src/services/__tests__/unifiedNotificationManager.test.ts
  src/services/attendanceOCRService.ts
  task.md
Due: eslint, typescript-check

[SANITIZER] Fix Bug Issues #1277, #1276, #1278, #1279
  blueprint.md
  hasil-seleksi-ppdb-sma-negeri-1-malang-1769847502941.pdf
  roadmap.md
  src/services/__tests__/attendanceOCRService.test.ts
  src/services/__tests__/unifiedNotificationManager.test.ts
  src/services/attendanceOCRService.ts
  task.md
Due: eslint, typescript-check

fix(test): Add missing afterEach hooks for fake timers cleanup (Issue #1284)
  src/hooks/__tests__/useWebSocket.test.ts
  src/services/__tests__/emailNotificationService.test.ts
  src/utils/__tests__/errorHandler.test.ts
  task.md
Due: eslint, typescript-check

docs: Document test suite timeout fix (Issue #1284)
  blueprint.md
  task.md
Due: none

fix(security): Update hono package to v4.11.7 to resolve 4 moderate severity vulnerabilities
  package-lock.json
Due: none

docs: Update documentation for Issue #1287 security fix
  blueprint.md
  roadmap.md
  task.md
Due: none

docs(sanitize): Complete test suite timeout fix documentation (Issue #1284)
  blueprint.md
  roadmap.md
  task.md
Due: none

fix(docs): Resolve Issue #1285 - Documentation location inconsistency
  README.md
  docs/README.md
  docs/blueprint.md
  docs/roadmap.md
  docs/task.md
Due: none

docs(scribe): Update documentation for Issue #1285 fix
  blueprint.md
  roadmap.md
  task.md
Due: none

feat(quiz-grade): Integrate Quiz Results with Grade Analytics (Issue #1288)
  blueprint.md
  roadmap.md
  src/components/AcademicGrades.tsx
  src/components/QuizIntegrationDashboard.tsx
  src/components/__tests__/QuizIntegrationDashboard.test.tsx
  task.md
Due: eslint, typescript-check

feat(teacher): Add QuizIntegrationDashboard to teacher navigation menu/routing
  blueprint.md
  roadmap.md
  src/components/TeacherDashboard.tsx
  task.md
Due: eslint, typescript-check

feat(teacher): Add QuizIntegrationDashboard to teacher navigation menu/routing (v3.4.8) (#1296)
  blueprint.md
  roadmap.md
  src/components/TeacherDashboard.tsx
  task.md
Due: eslint, typescript-check

refactor(types): Split types.ts into domain-specific modules (Issue #1293, P2)
  blueprint.md
  roadmap.md
  src/types/academic.ts
  src/types/analytics.ts
  src/types/announcements.ts
  src/types/chat.ts
  src/types/common.ts
  src/types/events.ts
  src/types/index.ts
  src/types/inventory.ts
  src/types/materials.ts
  src/types/messaging.ts
  src/types/notifications.ts
  src/types/permissions.ts
  src/types/ppdb.ts
  src/types/quiz.ts
  src/types/study.ts
  src/types/users.ts
  src/types/voice.ts
  task.md
Due: eslint, typescript-check

fix: resolve review feedback from gemini-code-assist
  roadmap.md
  src/types/analytics.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
