Repository cpa01cmz-beep/Malnu-Kananga: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint
  entry: npm run lint:fix
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix: remove continue-on-error and update checkout action versions in CI workflows
  .github/workflows/e2e-tests.yml
  .github/workflows/on-pull.yml
  .github/workflows/workflow-monitor.yml
Due: none

docs: update health report with CI/CD improvements and correct test count
  REPOSITORY_HEALTH_REPORT.md
Due: none

docs: fix UI component counts in documentation
  REPOSITORY_HEALTH_REPORT.md
  docs/UI_COMPONENTS.md
Due: none

chore: update secrets baseline with detect-secrets scan results
  .secrets.baseline
Due: none

feat: enhance WebSocket reliability with message queue, deduplication, and health monitoring
  blueprint.md
  roadmap.md
  src/constants.ts
  src/services/__tests__/webSocketService.test.ts
  src/services/webSocketService.ts
  task.md
Due: eslint, typescript-check

refactor: improve code quality and type safety
  eslint.config.js
  src/components/AcademicGrades.tsx
  src/components/AccessDenied.tsx
  src/components/AnalyticsDashboard.tsx
  src/components/AttendanceView.tsx
  src/components/BatchManagement.tsx
  src/components/FileUpload.tsx
  src/components/FolderNavigation.tsx
  src/components/GradingManagement.tsx
  src/components/NotificationSettings.tsx
  src/components/PPDBManagement.tsx
  src/components/ParentPaymentsView.tsx
  src/components/SiteEditor.tsx
  src/components/StudentLearningModule.tsx
  src/components/StudentPortal.tsx
  src/components/SystemStats.tsx
  src/components/ThemeSelector.tsx
  src/components/Toast.tsx
  src/components/VersionControl.tsx
  src/components/VoiceSettings.tsx
  src/components/analytics/DateRangeFilter.tsx
  src/components/ui/FileUploader.tsx
  src/components/ui/Table.tsx
  src/hooks/useStudentInsights.ts
  src/services/__tests__/ocrNotificationIntegration.test.ts
  src/services/apiService.ts
  src/services/geminiService.ts
  src/services/offlineActionQueueService.ts
Due: eslint, typescript-check

docs: fix version inconsistencies and update localStorage key usage in documentation
  docs/CODING_STANDARDS.md
  docs/SWAGGER_SETUP.md
  docs/WEBSOCKET_API.md
Due: none

docs: correct UI component count from 41 to 42 in health report
  REPOSITORY_HEALTH_REPORT.md
Due: none

docs: Synchronize documentation with actual system state
  blueprint.md
  package-lock.json
  roadmap.md
  task.md
Due: none

chore: update softprops/turnstyle from v2 to v3
  .github/workflows/on-pull.yml
  .github/workflows/on-push.yml
Due: none

docs: Update documentation to v3.4.2 - System verification complete
  blueprint.md
  roadmap.md
  task.md
Due: none

chore: update package.json version to 3.4.2 to match documentation
  package.json
Due: none

docs: update health report version to 3.4.2 to match package.json
  REPOSITORY_HEALTH_REPORT.md
Due: none

chore: fix version inconsistencies across package-lock.json and documentation
  docs/ACCESSIBILITY_AUDIT_REPORT.md
  docs/README.md
  docs/SWAGGER_SETUP.md
  docs/WEBSOCKET_API.md
  package-lock.json
Due: none

docs: fix documentation metrics to match actual codebase state
  REPOSITORY_HEALTH_REPORT.md
  docs/README.md
Due: none

chore: remove unused Tailwind v4 PostCSS dependencies and config
  package-lock.json
  package.json
  postcss.config.js
Due: eslint

docs: fix test count and UI component count in health report
  REPOSITORY_HEALTH_REPORT.md
Due: none

chore: remove redundant postcss dependency (already in vite)
  package-lock.json
  package.json
Due: none

docs: correct UI component count to 41 (was incorrectly set to 42)
  REPOSITORY_HEALTH_REPORT.md
Due: none

[SCRIBE MODE] Complete UI component documentation (100% - 41/41 components)
  docs/ROADMAP.md
  docs/TASK.md
  docs/UI_COMPONENTS.md
Due: none

OPT: Bundle size optimization - achieved <500KB GZIP target
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
  src/App.tsx
Due: eslint, typescript-check

feat: Implement backend WebSocket support for real-time updates
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
  docs/WEBSOCKET_IMPLEMENTATION.md
  worker.js
Due: eslint

refactor: remove duplicate documentation files
  docs/BLUEPRINT.md
  docs/ROADMAP.md
  docs/TASK.md
Due: none

docs: fix inconsistent documentation filename references in health report
  REPOSITORY_HEALTH_REPORT.md
Due: none

feat: Implement custom report builder (CRB-001)
  blueprint.md
  roadmap.md
  src/components/CustomReportBuilder.tsx
  src/constants.ts
  src/constants/reports.ts
  src/services/__tests__/reportTemplatesService.test.ts
  src/services/reportTemplatesService.ts
  src/types/report.types.ts
  task.md
Due: eslint, typescript-check

fix: resolve ESLint errors in report builder and test files
  src/components/CustomReportBuilder.tsx
  src/services/__tests__/reportTemplatesService.test.ts
Due: eslint, typescript-check

[BUNDLE-001] Optimize bundle size by 27.9% (552 KB → 398 KB)
  blueprint.md
  roadmap.md
  src/App.tsx
  task.md
  vite.config.ts
Due: eslint, typescript-check

fix: synchronize package.json version to 3.4.3
  package.json
Due: none

docs: synchronize version to 3.4.3 across all documentation files
  REPOSITORY_HEALTH_REPORT.md
  docs/ACCESSIBILITY_AUDIT_REPORT.md
  docs/README.md
  docs/SWAGGER_SETUP.md
  docs/WEBSOCKET_API.md
Due: none

docs: fix version inconsistency in SWAGGER_SETUP.md (3.4.2 → 3.4.3)
  docs/SWAGGER_SETUP.md
Due: none

docs: fix version inconsistency in documentation files
  AGENTS.md
  docs/VOICE_COMMANDS_REFERENCE.md
Due: none

feat: Implement Real-Time Collaboration Foundation (Milestone 3.0)
  blueprint.md
  roadmap.md
  src/constants.ts
  src/services/__tests__/collaborativeEditingService.test.ts
  src/services/classroomManagementService.ts
  src/services/collaborativeEditingService.ts
  src/services/liveChatService.ts
  src/services/presenceManagementService.ts
  src/services/realTimeGradeService.ts
  src/types/realtime.types.ts
  task.md
Due: eslint, typescript-check

refactor: remove dead code and standardize imports
  src/components/AcademicGrades.tsx
  src/components/SchoolInventory.tsx
  src/components/StudentInsights.tsx
  src/types/recharts.d.ts
  src/utils/studentValidation.ts
  src/utils/teacherValidation.ts
Due: eslint, typescript-check

docs: fix test count inconsistencies in task.md
  task.md
Due: none

fix: rename apple-touch-icon.png to .svg (was SVG content with wrong extension)
  index.html
  public/apple-touch-icon.svg
  vite.config.ts
Due: eslint, typescript-check

docs: update deployment guide to reference apple-touch-icon.svg
  docs/DEPLOYMENT_GUIDE.md
Due: none

fix: rename favicon.ico to .svg (was SVG content with wrong extension)
  docs/DEPLOYMENT_GUIDE.md
  public/favicon.svg
  vite.config.ts
Due: eslint, typescript-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
